<div class="card d-flex flex-row align-items-center justify-content-between mb-4 p-3 text-dark">
    <div class="d-flex align-items-center">
    <img src="<%= group.icon %>", style='height:50px;width:50px;' alt="icon">
    <div class="d-flex flex-column p-2 justify-content-center">
        <h2>
            <%= group.name.capitalize%>
        </h2>
        <h3>
            <%= group.created_at.to_time.strftime('%B %e at %l:%M %p') %>
        </h3>
    </div>
    </div>
    <div class="totalVal">
    <h4><%= get_total_value(group) %>$</h4>
    </div>
</div>
