<div class="splash container my-5 text-center d-flex flex-column justify-content-center">
        <h1>Budget App</h1>
        <div>
            <%= button_to 'LOG IN', new_user_session_path, class:"btn btn-primary mb-3"%>
            <%= button_to 'SIGN UP',  new_user_registration_path, method: :get, class:"btn"%>
        </div>
</div>
